@import "../../scss/index.scss";

.containerProyecto {
  background-color: white;
  margin-top: 30px;
  border-radius: 20px;
  color: $font-dark;
  .proyectoinfo {
    margin-top: 30px;
    &__title {
      padding: 10px;

      h2 {
        font-size: 22px;
        margin-bottom: 0;
        font-weight: bold;
      }
    }
  }
}
