@import "../../scss/index.scss";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $primary;

  .tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 60%;

    h2 {
      font-size: 60px;
      text-align: left;

      span {
        font-family: "Rubik", sans-serif;
        font-weight: 700;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      align-self: flex-end;
      font-size: 24px;
      font-weight: bold;
    }

    a:hover {
      color: $darkness;
      transition: 0.3s;
    }
  }

  .boxContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding-bottom: 100px;

    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: $secundary;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      width: 100%;
      min-height: 70vh;

      img {
        width: 50%;
        margin: 55px 0;
      }

      .rotules {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        width: 100%;
        padding: 0 50px;

        span {
          width: 100%;
          text-align: left;
          color: #fff;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 15px;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      padding: 60px;
      overflow: hidden;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 80%;
      min-height: 70vh;

      .formBox {
        margin-top: 20px;
        h3 {
          font-family: "Rubik", sans-serif;
          font-weight: 700;
          font-size: 64px;
          width: 100%;
          color: $darkness;
          font-weight: bold;
          margin-bottom: 15px;
        }
        h4 {
          margin-top: 30px;
          font-size: 24px;
          color: $darkness;
        }
        a {
          font-size: 20px;
          font-weight: bold;
          color: $darkness;

          &:hover {
            cursor: pointer;
            color: $secundary-blue;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
