@import "../../scss/index.scss";

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #fff;
  margin: 90px 0;
  padding: 10px;
  -webkit-box-shadow: 40px 40px 20px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 40px 40px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 40px 40px 20px 0px rgba(0, 0, 0, 0.4);

  .inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    h1 {
      font-size: 90px;

      span {
        font-family: "Rubik", sans-serif;
        font-weight: 700;
      }
    }

    h3 {
      width: 100%;
      font-size: 34px;
      margin-top: -10px;
    }

    p {
      margin: 30px 0;
      width: 100%;
      font-size: 26px;
    }

    .optionsBox {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 90%;

      a {
        text-decoration: none;
        border-radius: 2px;
        padding: 5px 1px;
        font-size: 24px;
        font-weight: bold;
        width: 240px;
        border: 0.5px solid rgba(0, 0, 0, 0);
      }

      .buttonClassic {
        background-color: $button;
        color: #fff;
      }

      .buttonClassic:hover {
        border-color: $button;
        background-color: #fff;
        color: $button;
        transition: 0.3s;
      }

      .buttonClassic2 {
        background-color: $secundary;
        color: $darkness;
      }

      .buttonClassic2:hover {
        border-color: $secundary;
        background-color: #fff;
        color: $secundary;
        transition: 0.3s;
      }
    }
  }

  img {
    width: 600px;
  }
}
