@import "../../../scss/index.scss";

.panelInfoUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -50px;

  .infoUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .uName {
      width: 100%;
      font-size: 30px;
      font-weight: bold;
      color: #000;
    }

    .uDetails {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      span {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 80%;
        margin-bottom: 10px;
      }
      svg {
        width: 25px;
        height: 25px;
        fill: gray;
        margin-right: 20px;
      }
    }
  }
  .options {
    button {
      background-color: $primary;
      width: 150px;

      &:hover {
        background-color: $primary;
        opacity: 0.6;
      }
    }
  }
}
