@import "../../scss/index.scss";

.infoUserContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 30px;

  .infoPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 25%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
  }

  .tabPanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 50vh;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
  }
}
