@import "../../scss/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background-color: $darkness;
  color: #fff;
  font-family: "Nunito", sans-serif;

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 10px;

    .generalOptions {
      display: flex;
      align-items: center;

      img {
        width: 140px;
      }
    }

    .userOptions {
      display: none;
      align-items: center;
    }

    .loginOptions {
      display: flex;
      align-items: center;

      .button {
        background-color: $button;
        border-radius: 2px;
        padding: 4px;
        width: 150px;
        font-weight: bold;
      }

      .button:hover {
        background-color: $secundary;
        color: $darkness;
        transition: 0.3s;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      margin-left: 18px;
    }

    a:hover {
      cursor: pointer;
      color: $secundary;
    }
  }
}
