@import "./scss/index.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input.form-control,
textarea.form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 3px solid $darkness;
  font-size: 26px;
  margin-bottom: 20px;

  &:focus {
    box-shadow: none;
    border-bottom: 3px solid $secundary-blue;
  }
}
