$primary: #77acf1;
$secundary: #fdb827;
$darkness: #161616;
$background-light: #fff;
$secundary-blue: #185adb;
$font-dark: #000;
$primary-grey: #5b5b5c;
$font-grey: $primary-grey;
$border-light: #fff;
$border-grey: #38444d;
$danger: #e0245e;
$primary-dark-light: #3a3d38;
$background-dark-light: $primary-dark-light;
$font-light: #fff;
