@import "../../scss/index.scss";

.proyectos {
  margin-top: 20px;
  border-radius: 20px;
  color: $font-dark;

  .proyectostitle {
    background-color: $secundary;
    border-bottom: 1px solid $border-grey;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    h2 {
      font-size: 35px;
      margin-bottom: 0;
      font-weight: bold;
    }
  }
  .proyectos-button {
    background-color: white;
    margin-bottom: 3rem;
  }

  .load-more.btn.btn-primary {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: transparent;
    border: 0;
    color: $font-grey;
    &:hover,
    &:focus {
      background-color: transparent !important;
      color: $primary;
    }
  }
}
